
/***********GERAL***********/

body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat;", sans-serif;
  background-color: #edf2f4;
}

h1 {
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: bold;
  color: #1D3557;
}

h2 {
margin: 0 auto;
font-weight: normal;
color: #1D3557;
}

h3 {
  margin: 0 auto;
  font-weight: normal;
  color: #1D3557;
}

p {
  margin: 0 auto;
  color: #1D3557;
}

div {
  margin: 0;
  padding: 200px;
}

hr {
  border-style: dotted none none;
  border-width: thick;
  height: 5px;
  width: 5%;
  border-color: #E63946;
}

/* SEÇÕES DO SITE */

/***********Introdução***********/

.top-container {
  line-height: 1.25;
  text-align: center;
  margin: auto;
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
}

.jovifoto {
  width: 50%;
}

/* Skills */

.skills {
  line-height: 2;
  width: 50%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skill-row1 {
  padding: 0;
  text-align: left;
  margin: 30px auto 90px auto;
}

.skill-row2 {
  padding: 0;
  text-align: right;
}

.jrlawyer {
  width: 25%;
  float: left;
  padding-right: 50px;
}

.jrdev {
  width: 25%;
  float: right;
  padding-left: 50px;
}

/* Bottom */

.contact-me {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 200px;
}


.bottom-container {
  margin: 0;
  background-color: #1D3557;
}

/* Footer */

.footerText {
  color: #edf2f4;
}


/* LINKS */

a:link {
  color: #457B9D;
}

a:hover {
  color: #A8DADC;
}
